:root {
  /* --background: #1a1a2e; */
  background-color: #ffffff;
  --color: black;
  /* --primary-color: #0f3460; */
  --primary-color: #ffcc00;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* header */
.logoandnamebox {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.image {
  width: 85px;
  /* margin-left: 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  font-size: 35px;
  gap: 10px;
}

span {
  color: #ffcc00;
}

/* container */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 85vh; */
  margin-top: 2rem;
  width:100%;
}
.detail-container {
  width:100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-name {
  opacity: 0.7;
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 35px;
}
.form-container {
  height: 49rem;
  width: 45rem;
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  /* z-index: 99; */
  padding: 2rem;
}
.form-container .input-field {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding: 11px;
  /* width: 100%; */
  margin: 0.5rem 0;
  color: var(--color);
  outline: none;
  background: transparent;
  background-color: #9191911f;
  border: none;
  border-radius: 5px;
  /* font-weight: 500; */
  letter-spacing: 1px;
  font-size: 15px;
  backdrop-filter: blur(15px);
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; */
}
.form-container .input-field:focus {
  /* box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2); */
  animation: wobble 0.3s ease-in;
  -webkit-animation: wobble 0.3s ease-in;
}
input {
  width: 69%;
  background: transparent;
  border: 0;
  outline: 0;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 18px 15px;
}
.form-container button {
  background-color: var(--primary-color);
  color: var(--color);
  display: block;
  padding: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  margin-top: 1rem;
  /* margin-bottom: 2rem; */
  transition: all 0.1s ease-in-out;
  border: none;
}
.form-container button:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}

/* circle */

.circle {
  width: 8rem;
  height: 8rem;
  background: var(--primary-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}
.circle-one {
  top: 0;
  left: 0;
  z-index: -1;
  transform: translate(265%, 80%);
}
.circle-two {
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: translate(-265%, 213%);
}

/* footer */

.copyright {
  text-align: center;
  margin-top: 3rem;
}
.footer {
  /* height: 4rem; */
  background-color: rgb(17 24 39);
  color: #fff;
  text-align: center;
}
.footer-container {
  justify-content: center;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot .a {
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.foot .a:hover {
  color: #ffcc00;
}

@keyframes wobble {
  0% {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  25% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  75% {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
